#lookbook-metabox .inside {
  padding: 15px 10px 10px;
}
#lookbook-metabox .images-wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#lookbook-metabox .wc-lookbook-image-wrap {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #efefef;
  display: inline-block;
  background: white;
  box-shadow: 0 1px 2px #f9f9f9;
  float: left;
}
#lookbook-metabox .image {
  position: relative;
  float: left;
  width: 40%;
}
#lookbook-metabox .image .wc-lookbook-inside {
  padding: 10px;
  display: block;
  border-right: 1px solid #dfdfdf;
}
#lookbook-metabox .image img {
  width: 100%;
  display: block;
}
#lookbook-metabox .wc-lookbook-image-tags {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#lookbook-metabox .wc-lookbook-image-tags .tag {
  position: absolute;
  top: 0%;
  left: 0%;
  background: black;
  display: inline-block;
  opacity: .8;
  border-radius: 5px;
}
#lookbook-metabox .wc-lookbook-image-tags .tag .name {
  display: inline-block;
  padding: 5px 25px 5px 10px;
  color: white;
}
#lookbook-metabox .wc-lookbook-image-tags .tag a {
  text-decoration: none;
  color: white;
}
#lookbook-metabox .wc-lookbook-image-tags .tag .remove {
  position: absolute;
  top: 7px;
  right: 7px;
}
#lookbook-metabox .wc-lookbook-image-tags .tag .remove .label {
  display: none;
}
#lookbook-metabox .wc-lookbook-image-tags .tag .remove:after {
  content: "\f335";
  font-family: 'Dashicons';
}
#lookbook-metabox .wc-lookbook-image-fields {
  display: none;
}
#lookbook-metabox .wc-lookbook-image-actions {
  position: relative;
  float: left;
  width: 59%;
}
#lookbook-metabox .wc-lookbook-image-actions .wc-lookbook-inside {
  display: block;
  position: relative;
  padding: 10px;
}
#lookbook-metabox .wc-lookbook-image-actions .wc-lookbook-image-caption {
  width: 100%;
  resize: none;
}
#lookbook-metabox .wc-lookbook-image-actions .wc-lookbook-image-remove {
  margin-top: 10px;
}
#lookbook-metabox .no-wc-lookbook-image-notice {
  display: block;
  border: 3px dashed #cfcfcf;
  color: #bfbfbf;
  padding: 20px;
  text-align: center;
  margin: 0;
}
#lookbook-metabox .no-wc-lookbook-image-notice p {
  margin: 0;
  font-size: 18px;
}
#lookbook-metabox .images-actions {
  padding: 20px 0 0px;
}
#lookbook-metabox .images-actions a {
  margin-right: 10px;
}
