// Sprite-ing
@import "sprites/*.png";

// Mixins
@mixin clearfix(){
	&:after{
		content:".";
		display:block; 
		height:0; 
		clear:both; 
		visibility:hidden;	
	}
}

// Replacing text with sprite
@mixin sprite_replace_text( $name, $width, $height ){
	display: inline-block;
	text-indent: -999999em;
	@include sprites-sprite( $name );
	width: $width+px;
	height: $height+px;
	content: '';

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx)   { 
		background: url( '../images/sprites-retina/'+$name+'.png' ) transparent;
		background-size: 100%;
	}	
}


// Styling
#lookbook-metabox{
	.inside{
		padding: 15px 10px 10px;
	}

	.images-wrap{
		@include clearfix;
	}

	.wc-lookbook-image-wrap{
		margin-bottom: 20px;		
		width: 100%;
		border: 1px solid #efefef;
		display: inline-block;
		background: white;
		box-shadow: 0 1px 2px #f9f9f9;
		float:left;
		position: relative;

		&.active{
			.image{
				position: relative;
				z-index: 1100;
			}
		}
	}

	.image{
		position: relative;
		float: left;
		width: 40%;

		.wc-lookbook-inside{
			display: block;
			border-right: 1px solid #dfdfdf;
		}

		img{
			width: 100%;
			display: block;
		}
	}

	.wc-lookbook-image-mousetrap{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1140;
	}

	.wc-lookbook-image-tags{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		.tag{
			position: absolute;
			top: 0%;
			left: 0%;
			background: black;
			display: inline-block;
			// opacity: .8;
			border-radius: 5px;
			z-index: 1150;

			&:before{
				@include sprite_replace_text( 'tag-tail', 12, 6 );
				position: absolute;
				top: -6px;
				left: 50%;
				margin-left: -6px;				
			}
	
			.name{
				display: inline-block;
				padding:5px 25px 5px 10px;
				color: white;
			}

			a{
				text-decoration: none;
				color: white;
			}

			.remove{
				position: absolute;
				top: 7px;
				right: 7px;

				.label{
					display: none;
				}

				&:after{
					content: "\f335";
					font-family: 'Dashicons';
				}
			}
		}
	}

	.wc-lookbook-image-fields{
		display: none;
	}

	.wc-lookbook-image-actions{
		position: relative;
		float: left;
		width: 59%;

		.wc-lookbook-inside{
			display: block;
			position: relative;
			padding: 10px;			
		}

		.wc-lookbook-image-caption{
			width: 100%;
			resize: none;
		}

		.wc-lookbook-image-remove{
			margin-top: 10px;
		}
	}

	.no-wc-lookbook-image-notice{
		display: block;
		border: 3px dashed #cfcfcf;
		color: #bfbfbf;
		padding: 20px;
		text-align: center;
		margin: 0;

		p{
			margin: 0;
			font-size: 18px;
		}
	}

	.images-actions{
		padding: 20px 0 0px;

		a{
			margin-right: 10px;
		}
	}
}

#product-finder-wrap{
	width: 200px;
	padding: 5px;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 1200;
	position: fixed;
	background: white;

	&:before{
		@include sprite_replace_text( 'product-filter-tail', 12, 6 );
		position: absolute;
		top: -6px;
		left: 50%;
		margin-left: -6px;
	}
}

#product-finder-modal{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .8;
	z-index: 1000;
	display: none;
}

// Load Plugins
@import "select2";